{% extends "base.html" %}
{% block conteudo %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data</th>
            <th scope="col">Especialista</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>João</td>
            <td>9/05/1878</td>
            <td>0000</td>
        </tr>
        <tr>
            <td> Mario</td>
            <td>19/05/1889</td>
            <td>000</td>
        </tr>
        <tr>
            <td> Raphael</td>
            <td>19/05/1889</td>
            <td>00000</td>
        </tr>
    </tbody>
</table>

{% endblock %}