{% extends "base.html" %}
{% block conteudo %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Nome</th>
            <th scope="col">crm</th>
            <th scope="col">especialidade</th>
            <th scope="col">idade</th>
        </tr>
    </thead>
    <tbody>
        {% for medico in medicos %}
            <tr>
                <td>{{medico.id}}</td>
                <td>{{medico.nome}}</td>
                <td>{{medico.crm}}</td>
                <td>{{medico.especialidade}}</td>
                <td>{{medico.idade}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Foram encontrados {{medicos | length}} cadastros</p>
{% endblock %}