{% extends "base.html" %}
{% block conteudo %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Data</th>
            <th scope="col">sexo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Fernando</td>
            <td>9/05/1878</td>
            <td>Masculino</td>
        </tr>
        <tr>
            <td>Miguel</td>
            <td>19/05/1889</td>
            <td>Masculino</td>
        </tr>
        <tr>
            <td>Sla</td>
            <td>19/05/1889</td>
            <td>Masculino</td>
        </tr>
    </tbody>
</table>
{% endblock %}